@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: solid red;
  height: 100vh;
}

.fondo {
  display: flex;
  justify-content: center;
  
}
.card {
  border: solid black;
  width: 350px;
  height: 600px;
}

img {
  width: 250px;
}
